<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Figure</title>
  </head>
  <body>

    <form action="/figures" method="post">

      <h3>Create a New Figure:</h3>

      <p>Name: <input id="figure_name" type="text" name="figure[name]"></p>

      <h2>Titles</h2>

      <% @titles.each do |title| %>
        <p><input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></p>
      <% end %>

      <p>Create New Title: <input id="new_title" type="text" name="title[name]"></p>

      <h2>Landmarks</h2>

      <% @landmarks.each do |landmark| %>
        <p><input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" ><%= landmark.name %></p>
      <% end %>

      <p>Create New Landmark:</p>

      <p>Name: <input id="new_landmark" type="text" name="new_landmark[name]"></p>
      <p>Year Completed: <input type="text" name="new_landmark[year_completed]"></p>

      <input type="submit" value="Create New Figure">

    </form>

  </body>
</html>
